body {
    margin: 0;
}
.hero {
    width: auto;
    height: 90vh;
    display: flex;
    justify-content:space-between;
    padding-left: 3%;
    align-items: center;
    
    background-image: url(https://github.com/PritamSarbajna/coffee-shop-website/blob/main/images/home-img.jpg?raw=true);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}
.hero h1{
    font-size: 2em;
    color: white;
}
.hero h2{
    color: white;
}
.hero .btn {
    
    display: block;
    background-color: red;
    width: 120px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: auto;
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;

    border: 1px solid red;
    border-radius: 10px;
}