/* Code for Navigator and overall page */
* { 
    font-family: 'Trebuchet MS', sans-serif; /* set font of page */
  }
header { /* Code for header space and image */
  background-image: url(https://images.pexels.com/photos/683039/pexels-photo-683039.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  height: 250px;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.logins{ /* login image and link location */
    display: flex;
    flex-direction: row;
    position:absolute;
    right: 50px;
}
.logins a{ /* Text color */
  text-decoration: none;
  padding-left: 20px;
  color: #FDFEFE;
}

.colum { /* Cover box */
  font-size: 2ex;
  padding: 20px;
  padding-left: 10%;
  padding-right: 10%;
  margin: 10px;
  background-color: rgba(24, 22, 20, 0.9);
  
 
}

body { /* Page body color */
    background-color: rgb(223, 208, 189);
    margin: 0;    
}
nav { /* Nav color and box */
    background-color: #71430b;
    margin: 0px;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    justify-content: center;

}
nav a { /* Nav text color */
    display: block;
    float: left;
    color: #FDFEFE;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
}
a:hover { /* Change color when hover */
    color: #f1b45a ;
  }

footer { /* Setting footer */
  background-color: rgb(70, 52, 35);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 40px 20px;
}
.foot {
  margin-right: auto;
  color: #FDFEFE; 
}
.foot2{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  color: #FDFEFE; 
}
  
 